@{
    ViewData["Title"] = "База клиентов - Редактирования клиента";
    @model EditFounderModel
    @using ClientsWebApp.Controllers
}

<h1>Изменить <strong>Учредителя</strong></h1>
<div>
    <form style="margin-bottom:50px;" asp-action="@nameof(ClientsController.ChangeFounder)">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Founder.INN" class="control-label"></label>
            <input asp-for="Founder.INN" class="form-control" />
            <span asp-validation-for="Founder.INN" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Founder.NameSurname" class="control-label"></label>
            <input asp-for="Founder.NameSurname" class="form-control" />
            <span asp-validation-for="Founder.NameSurname" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Founder.Id" />
        <input type="submit" class="btn btn-primary" value="Сохранить изменения" />
    </form>

    <a class="btn btn-dark" style="display:inline-block; margin-right:50px;" asp-controller="Clients" asp-action="@nameof(ClientsController.ViewFounders)">Назад</a>
    <a class="btn btn-dark" style="color:white" onclick="ShowRelations()">Показать связаных ЮЛ</a>
    <a class="btn btn-danger" style="display:inline-block; margin-left:50px;" asp-controller="Clients" asp-action="@nameof(ClientsController.DeleteFounder)" asp-route-id="@Model.Founder.Id">Удалить</a>
</div>

<div id="relTable" hidden>
    <h2>Связаные ЮЛ</h2>
    <table class="table-bordered">
        <tr>
            <td width="150">ИНН</td>
            <td width="300">Наименование</td>
            <td width="50">Тип</td>
        </tr>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td width="150">@item.INN</td>
                <td width="300">@item.ClientName</td>
                <td width="50">@(item.Type ? "ЮЛ" : "ИП")</td>
                <td> <a class="btn btn-dark" asp-action="@nameof(ClientsController.ChangeClient)" asp-route-id="@item.Id">Редактирование</a>  </td>
            </tr>
        }
    </table>
</div>